.button-cancel{
    -fx-text-fill: red;
    -fx-padding: 3.0 6.0 6.0 6.0;
    -fx-border-color: red;
    -fx-border-radius: 30.0;
    -fx-border-width:1.0;
    -fx-background-radius:30.0;
}
.button-cancel:hover{
	-fx-font-weight:bold;
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-border-radius: 30.0;
    -fx-padding: 3.0 6.0 6.0 6.0;
    -fx-border-width:2.0;
    -fx-background-radius:30.0;
}
.button-aceptar{
    -fx-text-fill: green;
    -fx-border-color: green;
    -fx-border-radius: 30.0;
    /*-fx-padding: 3.0 6.0 6.0 6.0;*/
    -fx-background-radius: 29.0;
    -fx-border-width: 1.0;
}
.button-aceptar:hover{
	-fx-font-weight:bold;
     -fx-text-fill: green;
    -fx-border-color: green;
    -fx-border-radius: 30.0;
  /*  -fx-padding: 3.0 6.0 6.0 6.0;*/
    -fx-background-radius:30.0;
    -fx-border-width:2.0;
}
.botonMenu{
	/*-fx-background-image: url("fondo.jpg");*/
	-fx-font: bold 1em System;
	-fx-margin: 0 0 5 0;
	-fx-font-style:blod;
	-fx-background-color:#fff;
	-fx-border-color:#000;
}
.botonMenu:hover{
	/*-fx-background-image: url("fondo.jpg");*/
	-fx-font: bold 1em System;
	-fx-margin: 0 0 5 0;
	-fx-font-style:blod;
	-fx-background-color:#39c0ba;
	-fx-border-color:#000;
	/*-fx-text-fill:#009;*/
}
.botonSal{
	-fx-background-color:none;
	-fx-text-fill:#fff
	
}
.botonSal:hover{
	-fx-font-style:blod;
	-fx-background-color:#39c0ba;
}
.fondo{
	-fx-background-color:#558986;
	-fx-background-size:cover;
	-fx-opacity:0.2;
}
.titled-pane {
    -fx-animated: true;
    -fx-background-color:#123;
    -fx-text-fill:#fff;
}

.titled-pane .title  {
    -fx-background-radius: 0, 0, 0;
    -fx-font: bold 1em System;
    -fx-text-fill:#fff;
    -fx-border-color:#000;/*   -fx-padding: 0.3em 0.833333em 0.35em 0.833333em;*/
    
    -fx-background-color: ladder(
            red,
            black 20%,
            derive(#a50038,-30%) 30%
        ), 
        linear-gradient(
        to bottom,
            ladder(#a50038, 
                derive(#a50038,80%) 60%, 
                white 82%) 0%,
            ladder(#ab6559, 
                derive(#a50038,20%) 10%, 
                derive(#a50038,-10%) 80%) 100%
        ), linear-gradient(
            to bottom,
            derive(#a50038,34%) 0%,
            derive(#a50038,-18%) 100%
        );
}
.titled-pane:expanded *.content{
	-fx-background-color:#f5d9dd;
}
.titled-pane:collapsed *.content{
	-fx-background-color:#f5d9dd;
}
.text-field{
	-fx-border-color:#000;
}


